*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
width: 100%;
display: flex;
height: 100vh;
flex-direction: row;
}


.main{ 
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}
.mainInferior{
width: 100%;
background-color: rgb(255, 0, 0);
display: flex;
height: 20%;
flex-direction: column;
align-items: left;
justify-content: center;
gap: 10%;
}
.mainInferior a{
font-size: xx-large;
margin-left: 20%;
}
.header{
width: 20%;
background-color: rgb(226, 185, 110);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.txtHeader{
color: aqua;
text-decoration: aquamarine;
}
.txtHeader:hover{

transition: font-size 1s linear ;
color: brown;
font-size: 50px ;

}
.mainSuperior{
width: 100%;
display: flex;
height: 100%;
flex-direction: row;
}
.supIzq{
width: 50%;
background-color: rgb(108, 108, 245);
display: flex;
height: 100%;
flex-direction: column;
}
.supDer{
width: 50%;
background-color: rgb(105, 105, 177);
display: flex;
height: 100%;
flex-direction: column;
}

.supDerSup{
width: 100%;
background-color: rgb(228, 135, 197);
position: relative;
display: flex;
height: 50%;
align-items: center;
justify-content: center;
}
.supDerSup ul:hover{
background-color: aqua;
transform: rotate(360deg);
transition: background-color 1s ease-out, transform 1s linear;
}
.supDerSup a{
color: black;
background-color: bisque;
border-radius: 15%;
padding: 1%;
position: absolute;
bottom: 0;
right: 0;
text-decoration: none;
}

.supDerInf{
width: 100%;
background-color: rgb(155, 210, 241);
display: flex;
height: 50%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.supDerInf h1{
font-size: 80px
}
.supDerInf p{
color: rgb(0, 18, 117);
font-size: large;
font-style: italic;

}

.supDerInf p:hover{
transform: skew(20deg);
transition: transform 1s linear, font-size 1s linear, color 1s linear;
font-size: xx-large;
color: rgb(199, 132, 9)
}
.supIzqSup{
width: 100%;
background-color: rgb(212, 243, 98);
position: relative;
height: 40%;
}

.supIzqSup img{
width: 40%;
height: 70%;
position: center;
top: 0;
right: 0;
}
.supIzqSup p{
position: absolute;
bottom: 0;
left: 0;

}
.tarjeta{
width: 70%;
height: 40%;
margin: 5%;
padding: 2%;
display: flex;
flex-direction: column;
background-color: rgb(236, 148, 248);
border-radius: 10px;
align-items: center;
justify-content: center;
}
.tarjeta img{
height: 80%;
width: 80%;
}

.supIzqInf{
width: 100%;
background-color: rgb(92, 79, 7);
display: flex;
height: 60vh;
flex-direction: column;
align-items: center;
justify-content: center;
}